<div class="list-group">
	{{#link-to 'words' class="list-group-item"}}Home{{/link-to}}
	{{#link-to 'setting' class="list-group-item"}}Setting{{/link-to}}
	{{#link-to 'play' class="list-group-item"}}Play{{/link-to}}

</div>